services:
  - type: web
    name: my-frontend
    env: node
    plan: free
    buildCommand: yarn --cwd frontend install && yarn --cwd frontend build
    startCommand: serve -s frontend/build
    envVars:
      - key: NODE_VERSION
        value: 14
    staticPublishPath: frontend/build

  - type: web
    name: my-backend
    env: node
    plan: free
    buildCommand: yarn --cwd backend install
    startCommand: yarn --cwd backend start
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URL
        value:"mongodb+srv://amnvramachandra:ramachandra559@cluster0.gzkpmmq.mongodb.net/data_filtering"
